html, body {
  font-family: "Hepta Slab", serif;
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.go167266335.go3844575157{
  padding: 0;
}
.go946087465{
  padding: 0 !important;
}