@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background:#F0F0F3;
    --foreground: #031428;
    --card: #ffffff;
    --popover: #ffffff;
    --popover-foreground: #031428;
    --primary: #37376c;
    --primary-foreground: #ffffff;
    --secondary: #aeaed0;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: #851e1e;
    --destructive-foreground: #ffffff;
    --border: #031428;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --bg-customGradient-1 : linear-gradient(90deg,rgba(240, 240, 243, 1) 40%, rgba(240, 240, 243, 0.4) 80%,  rgba(240, 240, 243, 0.1) 100%);
    --bg-customGradient-2 : linear-gradient(145deg,#F0F0F3 20%, #E0E0F3 60%, #D0D0F3 80%); ;
    --bg-customGradient-3 : linear-gradient(150deg,#AACCFF 30%, #5565AA 100%);

  }
  .dark {
    --background: #121219;
    --foreground: #ccccdd;
    --card: #202028;
    --popover: #121219;
    --popover-foreground: #FFFFFF;
    --primary: #5c5cce;
    --primary-foreground: 240 5.9% 10%;
    --secondary: #40404d;
    --secondary-foreground: 0 0% 98%;
    --muted: #1f1f2a;
    --muted-foreground: #eeeeff;
    --accent: #777788;
    --accent-foreground: 0 0% 98%;
    --destructive: #832323;
    --destructive-foreground: #ffffff;
    --bg-customGradient-1 : linear-gradient(90deg,rgba(33, 33, 41, 1) 40%, rgba(33, 33, 41, 0.7) 70%,rgba(33, 33, 41, 0.4) 100%);
    --bg-customGradient-2 : linear-gradient(150deg,rgba(33, 33, 41, 1) 35%, rgba(39, 39, 47, 1) 75%, rgba(45, 45, 53, 1) 100%);
    --bg-customGradient-3 : linear-gradient(150deg, #8a8a9a 20%, #5a5a6a 40%, #2a2a3a 80%);
    --border: #d6d6de;
    --input: #777788;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
